<nav class="navbar navbar-expand navbar-light bg-faded" style="background-color: #42424211">
    <a class="navbar-brand" href="#"><h4 style="font-weight: bold">Administrator</h4></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav-tabs">
        <li class="nav-item active">
            <a class="nav-link text-primary" [routerLink]="['/qldthome']">Chương trình đào tạo <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-primary" [routerLink]="['/lophoc']">Lớp học</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-primary" [routerLink]="['monhoc']">Môn học</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" [routerLink]="['/giaovien']">Giáo viên</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" href="#">Sinh viên</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" href="#">Học viên đăng ký</a>
        </li>
    </ul>
</nav>
<div class="container-fluid" style="margin-top: 10px">
    <router-outlet>

    </router-outlet>
    
</div>