.logo{
    width: 150px;
    height: 50px;
}
.islogin{
    visibility: hidden;
}
.menu{
    font-weight: bold;
}
.menu:hover{
    background-color: #EEEEEE;
    border-radius: 5px;
    color: white;
}
