<div class="row">
  <div class="col-xs-12" style="font-weight: bold">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top col-xl-12" style="padding: 0px">
        <a class="navbar-brand" [routerLink]="['/']"><img src="../assets/img/logo.png" class="logo img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|" alt=""></a>
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/nganhdaotao']">Ngành đào tạo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="[ '/ctdaotao']">Các lớp ngắn hạn</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" [routerLink]="[ '/']">Tra cứu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tin tức</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hỗ trợ</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="#">Liên hệ</a>
                <a class="dropdown-item" href="#">Góp ý</a>
              </div>
            </li>
          </ul>
          <form class="my-2 my-lg-0">
              <button class="btn btn-primary my-2 my-sm-0" *ngIf="!logged"  type="button" data-toggle="modal" data-target="#DangNhap" style="margin-right: 10px">Đăng nhập</button>
              <div class="modal fade" id="DangNhap" data-backdrop="false" *ngIf="!logged" >
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header bg-primary">
                              <span style="color: white">Đăng nhập hệ thống</span>
                          </div>
                          <div class="modal-body">
                              <form role="form">
                                  <div class="form-group">
                                      <input class="form-control" type="text" name="edtTaiKhoan"  placeholder="Tài khoản" [(ngModel)]="tenTaiKhoan"/>                                            
                                  </div>
                                  <div class="form-group">
                                      <input class="form-control" type="password" name="edtMatKhau"  placeholder="Mật khẩu" [(ngModel)]="matKhau"/>                                          
                                  </div>
                                  <p class="text-danger" *ngIf="checkLogin">Tên tài khoản hoặc mật khẩu không chính xác!</p>
                                  <div class="checkbox form-group">
                                    <label>
                                      <input type="checkbox"> Nhớ tài khoản
                                    </label>
                                  </div>
                                  
                                </form>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                              <button type="button" class="btn btn-primary" (click)="isLogin()" data-dismiss="dissmis">Đăng nhập</button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="dropdown open">
                    <button class="btn btn-secondary dropdown-toggle" *ngIf="logged"  type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                            Xin chào
                    </button>
                  <div class="dropdown-menu" aria-labelledby="triggerId" *ngIf="logged" >
                      <button class="dropdown-item" href="#">Cá nhân</button>
                      <button class="dropdown-item" href="#">Đổi mật khẩu</button>
                      <button class="dropdown-item" (click)="xuLyDangXuat()">Đăng xuất</button>
                  </div>
              </div>
          </form>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm</button>
          </form>
        </div>
      </nav>
  </div>
</div>
