<button type="button" class="btn btn-success" data-toggle="modal" data-target="#ThemChuongTrinh">Thêm môn học</button>
<div class="modal fade" id="ThemChuongTrinh" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <span style="color: white">Thêm môn học</span>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <input class="form-control" type="text"  placeholder="Mã môn học" [(ngModel)]="maMonHoc" [ngModelOptions]="{standalone: true}"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text"  placeholder="Tên môn học" [(ngModel)]="tenMonHoc" [ngModelOptions]="{standalone: true}"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text"  placeholder="Số tín chỉ" [(ngModel)]="hocPhi" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="xuLyThemMonHoc()" >Thêm</button>
            </div>
        </div>
    </div>
</div>

  

