<button type="button" class="btn btn-success" data-toggle="modal" data-target="#themGiaoVien">Thêm giáo viên</button>
<div class="modal fade" id="themGiaoVien" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <span style="color: white">Thêm giáo viên</span>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <input class="form-control" type="text"  placeholder="Mã giáo viên" [(ngModel)]="maGiaoVien" [ngModelOptions]="{standalone: true}"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text"  placeholder="Tên giáo viên" [(ngModel)]="tenGiaoVien" [ngModelOptions]="{standalone: true}"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text"  placeholder="Năm sinh" [(ngModel)]="namSinh" [ngModelOptions]="{standalone: true}"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text"  placeholder="Phone" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}"/>
                    </div>
                    <div class="form-group" style="text-align: left">
                        <label class="radio-inline"><input type="radio" name="optradio" value="male" [(ngModel)] = "gioiTinh" [ngModelOptions]="{standalone: true}">Nam</label>
                        <label class="radio-inline"><input type="radio" name="optradio" value="female" [(ngModel)] = "gioiTinh" [ngModelOptions]="{standalone: true}">Nữ</label>
                    </div>
                    <div class="form-group">
                      <label for="" style="float: left">Môn đứng lớp</label>
                      <select class="form-control" name="" id=""[(ngModel)]="monHocSelect" (ngModelChange)="onSelectChange($event)" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let item of dsMonHoc" [ngValue]="item.tenMonHoc">{{item.tenMonHoc}}</option>
                      </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="xuLyThemGiaoVien()" >Thêm</button>
            </div>
        </div>
    </div>
</div>

  

