

<div class="list-group">
  <a [routerLink]="['android']" class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Lập trình Android</a>
  <a [routerLink]="['angular']" class="list-group-item" routerLinkActive="active">Lập trình Angular 4</a>
  <a [routerLink]="['ios']" class="list-group-item" routerLinkActive="active">Lập trình IOS</a>
  <a [routerLink]="['php']" class="list-group-item" routerLinkActive="active">Lập trình PHP</a>
  <a [routerLink]="['laravel']" class="list-group-item" routerLinkActive="active">Lập trình Laravel</a>
  <a [routerLink]="['aspnet']" class="list-group-item" routerLinkActive="active">Lập trình ASP.NET</a>
  <a [routerLink]="['fronend']" class="list-group-item" routerLinkActive="active">Lập trình Front-End</a>
  <a [routerLink]="['java']" class="list-group-item" routerLinkActive="active">Lập trình Java</a>
</div>



