<div class="row justify-content-md-center">
  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
    <div class="card text-center">
      <div class="card-header bg-primary" style="color: white; font-weight: bold; font-size: 20px">
        Danh sách giáo viên
      </div>
      <div class="card-body">
          <app-themgiaovien style="float: right; margin-bottom: 10px"></app-themgiaovien>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="tablehead">STT</th>
                <th class="tablehead">Mã giáo viên</th>
                <th class="tablehead">Tên giáo viên</th>
                <th class="tablehead">Giới tính</th>
                <th class="tablehead">Năm sinh</th>
                <th class="tablehead">Phone</th>
                <th class="tablehead">Môn đứng lớp</th>
                <th class="tablehead">Cập nhật</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dsGiaoVien; let i = index" >
                <td>{{i+1}}</td>
                <td>{{item.maGiaoVien}}</td>
                <td>{{item.tenGiaoVien}}</td>
                <td>{{item.gioiTinh}}</td>
                <td>{{item.namSinh}}</td>
                <td>{{item.phone}}</td>
                <td *ngIf="!checkChange(i)">{{item.monDungLop}}</td>
                <td  *ngIf="checkChange(i)" >
                    <input type="text" class="form-control" placeholder="{{item.monDungLop}}" [(ngModel)]="newSubject">
                </td>
                <td>
                  <button class="btn btn-outline-primary btn-sm" (click)="xuLySuaGiaoVien(i)" *ngIf="!checkChange(i)">Sửa</button>
                  <button class="btn btn-outline-danger btn-sm" style="margin-right: 4px" *ngIf="!checkChange(i)" (click)="xuLyXoaGiaoVien(i)">Xoá</button>
                  <button class="btn btn-success btn-sm" (click)="changedGiaoVien(i,item.maGiaoVien,item.tenGiaoVien,item.gioiTinh,item.namSinh)" *ngIf="checkChange(i)">Xong</button>
                  <button class="btn btn-warning btn-sm" (click)="xuLyHuyChange()" *ngIf="checkChange(i)" >Huỷ</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    
  </div>
</div>