<div class="row text-center justify-content-md-center">
  
  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
    <div class="card">
      <div class="card-header bg-primary" style="color: white; font-weight: bold; font-size: 20px">
          Danh sách sinh viên đăng ký chương trình đào tạo
      </div>
      <div class="card-body">
        
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="tablehead">STT</th>
              <th class="tablehead">Họ tên</th>
              <th class="tablehead">Giới tính</th>
              <th class="tablehead">Năm sinh</th>
              <th class="tablehead">Điện thoại</th>
              <th class="tablehead">Chương trình đăng ký</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dsDangKy; let i = index" >
              <td>{{i+1}}</td>
              <td>{{item.hoTen}}</td>
              <td>{{(item.gioiTinh === 'male') ? 'Nam' : 'Nữ'}}</td>
              <td>{{item.namSinh}}</td>
              <td>{{item.phone}}</td>
              <td>{{item.nganhDangKy}}</td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  
</div>