<div class="row justify-content-md-center" style="margin-top: 80px">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header bg-primary">
        <span style="color: white; font-weight: bold">Đổi mật khẩu</span>
      </div>
      <div class="card-body">
          <div class="form-group">
              <label for="">Mật khẩu cũ</label>
              <input type="password" name="" id="" class="form-control" aria-describedby="helpId">
              <label for="">Mật khẩu mới</label>
              <input type="password" name="" id="" class="form-control" aria-describedby="helpId">
              <label for="">Nhập lại mật khẩu mới</label>
              <input type="password" name="" id="" class="form-control" aria-describedby="helpId">
            </div>
      </div>
      <div class="card-footer text-muted">
        <button  style="float: right" class="btn btn-success" type="button">Xong</button>
        <button  style="float: right; margin-right: 5px" class="btn btn-danger" type="button" [routerLink]="['']">Huỷ</button>
      </div>
    </div>
    
  </div>
</div>