<div class="container">
  <div class="row">
    <div style="border-radius: 20px;margin: auto;height: 600px;width: 900px; background-image: url(../../assets/img/bangtotnghiep.png)">
      <div class="text-center">
        <h4 style="margin-top: 40px" class="text-primary">CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</h4>
        <h5 class="text-primary">HIỆU TRƯỞNG<br> TRƯỜNG ĐẠI HỌC CẦN THƠ</h5>
        <h5 class="text-primary">cấp</h5>
        <h3 class="text-danger" style="font-weight: bold">BẰNG TỐT NGHIỆP</h3>
      </div>
      <div class="text-primary">
        <h5 class="text">Cho: <span style="font-size: 25px; margin-left: 270px; font-weight: bold" class="text-primary">{{sinhVien.tenSinhVien}}</span></h5>
        <h5 class="text">Giới tính: <span style="font-size: 20px; margin-left: 230px;font-weight: bold" class="text-primary">{{sinhVien.gioiTinh}}</span></h5>
        <h5 class="text">Ngày tháng năm sinh: <span style="font-size: 20px; margin-left: 110px;font-weight: bold" class="text-primary">{{sinhVien.namSinh}}</span></h5>
        <h5 class="text">Ngành đào tạo: <span style="font-size: 20px; margin-left: 170px;font-weight: bold" class="text-primary">{{sinhVien.nganhHoc}}</span></h5>
        <h5 class="text">Xếp loại tốt nghiệp: <span style="font-size: 20px; margin-left: 132px;font-weight: bold" class="text-primary">{{xepLoai}}</span></h5>
        <h5 class="text">Hình thức đào tạo: <span style="font-size: 20px; margin-left: 142px;font-weight: bold" class="text-primary">Chính quy</span></h5>
        <h5 style="text-align: right; font-style: italic; margin-right: 140px; font-size: 16px">Cần Thơ,ngày 08,tháng 05,năm 2018</h5>
        <h5 style="text-align: right; margin-right: 210px">HIỆU TRƯỞNG</h5>
      
      </div>
    </div>  
  </div>
</div>
