<app-dangky></app-dangky>
<h4>1.Giới thiệu Angular</h4>
          Android là một trong các hệ điều hành được ưa chuộng nhất hiện nay. 
          Với ưu thế là mã nguồn mở và được đông đảo cộng đồng yêu thích,
           Android đã thu hút rất nhiều nhà phát triển từ khắp mọi nơi
            trên thế giới và đang dần khẳng định vị thế. Nhờ Android mà
             hàng loạt các ứng dụng games, ứng dụng di động gia tăng một 
             cách nhanh chóng. Vì thế, nếu nắm trong tay những kiến thức cơ
              bản về hệ điều hành này, bạn hoàn toàn có thể đưa ra phiên bản
               Android tùy chỉnh của riêng mình trong một thời gian ngắn để dễ 
               dàng chạm tay đến thế giới “thông minh” và trở thành lập trình viên 
               hay nhà phát triển ứng dụng di động chuyên nghiệp.
<h4>2. Mục tiêu khóa học :</h4>
          <ul>
            <li>Nắm vững kỹ năng lập trình Android trên bất kỳ thiết bị nào.</li>
            <li>Thiết kế giao diện đồ họa hiện đại cho ứng dụng Android.</li>
            <li>Thành thạo kỹ năng lập trình, phát triển ứng dụng mobile trên Android.</li>
            <li>Thiết kế và phát triển các ứng dụng khai thác thông tin trên internet như mạng thông tin, mạng xã hội, các dịch vụ chia sẻ trực tuyến,...</li>
            <li>Xây dựng các ứng dụng truyền thông đa phương tiện (âm thanh, video,…).</li>
            <li>Tự phát triển ứng dụng hoàn chỉnh (chạy trên máy thật và máy ảo) và xuất bản ứng dụng trên Google Play. Nắm rõ quy trình hoạt động của Google Play Store.</li>
            <li>Biết cách đăng ký tài khoản upload ứng dụng và tự kiếm tiền bằng app do chính mình thiết kế.</li>
          </ul>
<h4> 3. Chứng nhận :</h4>
Học viên thi đạt kỳ thi cuối khóa sẽ được trung tâm cấp chứng nhận hoàn thành khóa học “Phát triển ứng dụng di động trên nền Android”.
<h4> 4. Điểm nổi bật của chương trình :</h4>
          <ul>
            <li>Sử dụng công cụ Android Studio mới nhất để phát triển ứng dụng.</li>
            <li>Nội dung tương thích với phiên bản mới nhất của Android.</li>
            <li>Thành thạo việc thiết kế và tùy biến các thành phần giao diện ứng dụng.</li>
            <li>Nội dung hướng tới các ứng dụng thực tế.</li>
            <li>Chương trình được biên soạn dựa trên phiên bản mới nhất, trang bị cho sinh viên kiến thức để có thể tham gia ngay vào các dự án phần mềm về lập trình Android sau khi hoàn thành khóa học.</li>
            <li>Môi trường học tập: phòng thực hành có đầy đủ thiết bị đáp ứng mục tiêu đào tạo.</li>
            <li>Học viên được đào tạo theo hướng dự án và thực nghiệm trên thiết bị di động thật. Mỗi học viên có thể tự xây dựng hoàn chỉnh ứng dụng di động của riêng mình.</li>
            <li>Đội ngũ giảng viên: có nhiều kinh nghiệm trong phát triển các dự án phần mềm, được đào tạo bài bản và được cấp chứng nhận chuyên môn bởi các tổ chức hàng đầu trong lĩnh vực CNTT trong và ngoài nước.</li>
          </ul>
<h4>7. Nội dung chương trình học</h4>
           
            
            
            
            
            
            <table class="table table-bordered table-hover">
                <tbody>
                  <tr>
                    <td class="thutu"><h4>Thứ tự</h4></td>
                    <td><h4 style="text-align: center">Nội dung đào tạo</h4></td>
                  </tr>
                  <tr>
                    <td class="thutu">Bài 1</td>
                    <td>
                        <h4>Tổng quan lập trình Android</h4>
                        <ul>
                          <li>Tìm hiểu hệ điều hành Android</li>
                          <li>Chuẩn bị môi trường phát triển Android</li>
                          <li>Qui trình phát triển phần mềm trên Android</li>
                          <li>Cấu trúc ứng dụng Android.</li>
                          <li>Xây dựng ứng dụng đầu tiên trên Android</li>
                          <li>Thực hành:
                            <ul style="list-style: circle;">
                              <li>Tạo ứng dụng tính diện tích, chu vi hình tròn.</li>
                              <li>Tạo máy tính thực hiện các phép toán cộng, trừ, nhân, chia</li>
                              <li>Xây dựng chương trình tính thể tích, diện tích xung quanh và 
                                diện tích 02 đáy của hình trụ với chiều cao và bán kính do người dùng cung cấp.</li>
                            </ul>
                          </li>
                        </ul>
                    </td>
                  </tr>
                  <tr>
                      <td class="thutu">Bài 2</td>
                      <td>
                          <h4>Activity, Fragment và Intent</h4>
                          <ul>
                            <li>Tìm hiểu về Activity</li>
                            <li>Vòng đời của một activity.</li>
                            <li>Áp dụng style và theme cho các Activity.</li>
                            <li>Làm thế nào để hiển thị các activity như các hộp thoại.</li>
                            <li>Khái niệm Intent.</li>
                            <li>Hiển thị các cảnh báo cho người dùng sử dụng bằng các thông báo.</li>
                            <li>Thực hành:
                              <ul style="list-style: circle;">
                                <li>Tạo chức năng đăng ký sử dụng phần mềm và kiểm tra hợp lệ của thông tin</li>
                                <li>Chụp ảnh gán làm ảnh nền</li>
                              </ul>
                            </li>
                          </ul>
                      </td>
                    </tr>
                    <tr>
                        <td class="thutu">Bài 3</td>
                        <td>
                            <h4>Các thành phần giao diện trên Android</h4>
                            <ul>
                              <li>Cấu trúc một giao diện phần mềm</li>
                              <li>Một số nguyên tắc đối với thiết kế giao diện đồ họa trên Android</li>
                              <li>Các dạng Layout khác nhau cho ứng dụng</li>
                              <li>Quản lý sự kiện trong Android</li>
                              <li>Một số thành phần giao diện căn bản</li>
                              <li>Tài nguyên trên (resources) và đa ngôn ngữ trong Android</li>
                              <li>Thực hành:
                                <ul style="list-style: circle;">
                                  <li>Tùy chỉnh giao diện chức năng đăng ký, đăng nhập.</li>
                                  <li>Sử dụng chức năng đa ngôn ngữ tùy biến giao diện</li>
                                </ul>
                              </li>
                            </ul>
                        </td>
                      </tr>
                </tbody>
            </table>



