<div class="row" style="width: 100%;">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="list-group" *ngFor="let item of dsChuongTrinh; let i = index" >
        <a class="list-group-item list-group-item-action" (click)="changeContent($event,i)" [routerLink]="['/qldthome']">{{item.tenCT}}</a>
      </div>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <app-themchuongtrinh></app-themchuongtrinh>
        <div class="card" style="margin-top: 10px; width: 100%">
            <h5 class="card-header text-success">{{tenChuongTrinh}}</h5>
            <div class="card-body">
                <p>
                    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#contentId" aria-expanded="false"
                            aria-controls="contentId">
                        Thêm môn học
                    </button>
                </p>
                <div class="collapse" id="contentId">
                    <div class="form-group">
                      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nhập mã môn học cần thêm" [(ngModel)] = "maMonHoc">
                      <button type="button" class="btn btn-primary" style="float: right; margin-top: 10px; margin-bottom: 10px" (click)="xuLyThemMonHoc()" >Thêm</button>
                    </div>
                </div>
                    <table class="table table-bordered table-hover" style="margin-top: 10px">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã môn học</th>
                                    <th>Tên môn học</th>
                                    <th>Học phí</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of showData(); let i = index" >
                                    <td>{{i+1}}</td>
                                    <td>{{item.maMonHoc}}</td>
                                    <td>{{item.tenMonHoc}}</td>
                                    <td>{{item.hocPhi}}</td>
                                </tr>
                            </tbody>
                        </table>      
            </div>
        </div>
      
    </div>
  </div>