
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="card" style="margin-top: 20px">
    <div class="card-header bg-primary text-white">
      <h4 style="font-weight: bold">Các môn đang học</h4>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên môn học</th>
            <th>Tiết học</th>
            <th>Phòng</th>
            <th>Thời gian</th>
            <th>Giữa kỳ</th>
            <th>Cuối kỳ</th>
            <th>Kết quả</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of monDangHoc; let i = index">
            <td  *ngIf="i>0" >{{i}}</td>
            <td  *ngIf="i>0" >{{item.tenMonHoc}}</td>
            <td  *ngIf="i>0" >{{item.tietHoc}}</td>
            <td  *ngIf="i>0" >{{item.phongHoc}}</td>
            <td  *ngIf="i>0" >{{item.thoiGian}}</td>
            <td  *ngIf="i>0" >{{item.diemGiuaKy}}</td>
            <td  *ngIf="i>0" >{{item.diemCuoiKy}}</td>
            <td  *ngIf="i>0" >{{item.ketQua}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
