<div class="row text-center justify-content-md-center" style="width: 100%">
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="card text-center">
      <div class="card-header">
        <h4 class="text-success">Danh sách lớp học</h4>
      </div>
      <div class="card-body">
          <app-themlophoc style="margin-bottom: 10px; float: right;"></app-themlophoc>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>STT</th>
                <th>Tên lớp học</th>
                <th>Tên giáo viên</th>
                <th>Số lượng</th>
                <th>Xoá</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dsLopHoc; let i = index" >
                <td>{{i+1}}</td>
                <td><a href="#">{{item.tenLop}}</a></td>
                <td>{{item.tenGiaoVien}}</td>
                <td>{{item.soLuong}}</td>
                <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="xuLyXoaLopHoc(i)">Xoá</button></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
      
      
  </div>
</div>