<div class="row justify-content-md-center">
  
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="list-group">
      <a [routerLink]="['/taikhoan']" class="list-group-item list-group-item-action tablehead" (click)="xuLyShowTaiKhoan(0)">Giáo viên</a>
      <a [routerLink]="['/taikhoan']" class="list-group-item list-group-item-action tablehead" (click)="xuLyShowTaiKhoan(1)">Sinh viên</a>
    </div>
  </div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <div class="card text-center">
        <div class="card-header bg-primary" style="color: white; font-weight: bold; font-size: 20px">
            Danh sách tài khoản {{loaiTaiKhoan}}
        </div>
      <div class="card-body">
          <app-themtaikhoan style="float: right; margin-bottom: 10px"></app-themtaikhoan>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="tablehead">STT</th>
                <th class="tablehead">Mã User</th>
                <th class="tablehead">Tên tài khoản</th>
                <th class="tablehead">Mật khẩu</th>
                <th class="tablehead">Xoá</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dsTaiKhoan; let i = index" >
                <td>{{i+1}}</td>
                <td>{{item.maUser}}</td>
                <td>{{item.tenUser}}</td>
                <td>{{item.matKhau}}</td>
                <td>
                  <button class="btn btn-outline-danger btn-sm" (click)="xuLyXoaTaiKhoan(i)">Xoá</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    
    
  </div>
  
</div>