<div class="row"  style="width: 100%;">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="list-group" *ngFor="let item of dsChuongTrinh; let i = index" >
      <button class="list-group-item list-group-item-action tablehead btn text-primary" (click)="changeContent($event,i)" type="button"  style="font-size: 15px" ><span style="font-weight: bold">{{item.tenCT}}</span></button>
    </div>
  </div>
  
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <div class="card" style="margin-top: 10px; width: 100%">
      <h5 class="card-header bg-primary" style="color: white">{{tenChuongTrinh}}</h5>
      <div class="card-body">
              <table class="table table-bordered table-hover text-center" style="margin-top: 10px">
                      <thead>
                          <tr>
                              <th class="tablehead">STT</th>
                              <th class="tablehead">Mã môn học</th>
                              <th class="tablehead">Tên môn học</th>
                              <th class="tablehead">Học phí</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of showData(); let i = index" >
                              <td>{{i+1}}</td>
                              <td>{{item.maMonHoc}}</td>
                              <td>{{item.tenMonHoc}}</td>
                              <td>{{item.hocPhi}}</td>
                           </tr>
                      </tbody>
                  </table>      
      </div>
  </div>
  </div>
  
</div>
