<div class="row justify-content-md-center" style="width: 100%">
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="card text-center">
      <div class="card-header">
        <h4 class="text-success">Danh sách môn học</h4>
      </div>
      <div class="card-body">
          <app-themmonhoc style="float: right; margin-bottom: 10px"></app-themmonhoc>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>STT</th>
                <th>Mã môn học</th>
                <th>Tên môn học</th>
                <th>Học phí</th>
                <th>Cập nhật</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dsMonHoc; let i = index" >
                <td>{{i+1}}</td>
                <td *ngIf="!isChange" >{{item.maMonHoc}}</td>
                <td *ngIf="isChange" >
                    <input type="text" class="form-control" placeholder="{{item.maMonHoc}}"  [(ngModel)]="newMaMonHoc">
                </td>
                <td *ngIf="!isChange">{{item.tenMonHoc}}</td>
                <td *ngIf="isChange" >
                    <input type="text" class="form-control" placeholder="{{item.tenMonHoc}}" [(ngModel)]="newTenMonHoc">
                </td>
                <td *ngIf="!isChange">{{item.hocPhi}}</td>
                <td *ngIf="isChange" >
                    <input type="text" class="form-control" placeholder="{{item.hocPhi}}" [(ngModel)]="newHocPhi">
                </td>
                <td>
                  <button type="button" class="btn btn-outline-danger btn-sm" style="margin-right: 4px" *ngIf="!isChange" (click)="xuLyXoaMonHoc(i)">Xoá</button>
                  <button type="button" class="btn btn-outline-primary btn-sm" (click)="changeMonHoc()" *ngIf="!isChange">Sửa</button>
                  <button type="button" class="btn btn-success btn-sm" (click)="changeMonHoc()" *ngIf="isChange" (click)="changedMonHoc(i)">Xong</button>
                  <button type="button" class="btn btn-warning btn-sm" (click)="cancelChangeMonHoc()" *ngIf="isChange">Huỷ</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    
    
  </div>
</div>