
<div class="container-fluid" style="background-image: url(../assets/img/banner3.jpg); width: 100%; height: 800px; margin-top: 60px">
    <div class="row">
      <div class="col-xs|sm|md|lg|xl-12" style="width: 100%">
        <div class="col-md-12 text-center">
            <p style="color: white; font-size: 50px; font-weight: bold; margin-top: 20px;">Ngắm hoa lệ rơi</p>
            <app-dangky></app-dangky>
        </div>
     </div>
      
    </div>
    <div class="row" style="margin-top: 10px">
            <div class="col-md-3">
                <a class="linkcustom" [routerLink]="[ '/ctdaotao/fronend']">
                  <div class="col-md-11 item">
                      <img src="../assets/img/if_html5_252093.png" class="img-fluid img-rounded imgmargintop imgsize"/>
                      <p>LẬP TRÌNH FRONT-END</p>
                      <p class="giamonhoc nonepadding">2.000.000VND</p>
                      <p>2 tháng</p>
                  </div>
                </a>
              </div>
              <div class="col-md-3">
                  <a class="linkcustom" [routerLink]="[ '/ctdaotao/java']">
                    <div class="col-md-11 item">
                        <img src="../assets/img/if_Java_98329.png" class="img-fluid img-rounded imgmargintop imgsize"/>
                        <p>LẬP TRÌNH JAVA</p>
                        <p class="giamonhoc">2.800.000VND</p>
                        <p>3 tháng</p>
                    </div>
                  </a>
              </div>
              <div class="col-md-3">
                  <a class="linkcustom" [routerLink]="[ '/ctdaotao/aspnet']">
                    <div class="col-md-11 item">
                        <img src="../assets/img/if_ASP.Net_682703.png" class="img-fluid img-rounded imgmargintop imgsize"/>
                        <p>LẬP TRÌNH ASP.NET</p>
                        <p class="giamonhoc">2.800.000VND</p>
                        <p>3 tháng</p>
                    </div>
                  </a>
              </div>
              <div class="col-md-3">
                  <a class="linkcustom" [routerLink]="[ '/ctdaotao/php']">
                    <div class="col-md-11 item">
                        <img src="../assets/img/if_code-programming-php-software-develop-command-language_652580.png" class="img-fluid img-rounded imgmargintop imgsize"/>
                        <p>LẬP TRÌNH PHP,MYSQL</p>
                        <p class="giamonhoc">2.400.000VND</p>
                        <p>2 tháng</p>
                    </div>
                  </a>
              </div>
        </div>
        <div class="row" style="margin-top: 30px">
                <div class="col-md-3">
                    <a class="linkcustom" [routerLink]="[ '/ctdaotao/android']">
                      <div class="col-md-11 item">
                          <img src="../assets/img/if__Android_1156668.png" class="img-fluid img-rounded imgmargintop imgsize"/>
                          <p>LẬP TRÌNH ANDROID</p>
                          <p class="giamonhoc">2.400.000VND</p>
                          <p>2 tháng</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-3">
                      <a class="linkcustom" [routerLink]="[ '/ctdaotao/angular']">
                        <div class="col-md-11 item">
                            <img src="../assets//img/angular4.png" class="img-fluid img-rounded imgmargintop imgsize"/>
                            <p>LẬP TRÌNH ANGULAR 4</p>
                            <p class="giamonhoc">2.800.000VND</p>
                            <p>3 tháng</p>
                        </div>
                      </a>
                  </div>
                  <div class="col-md-3">
                      <a class="linkcustom" [routerLink]="[ '/ctdaotao/laravel']">
                        <div class="col-md-11 item">
                            <img src="../assets/img/if_laravel_1006880.png" class="img-fluid img-rounded imgmargintop imgsize"/>
                            <p>LẬP TRÌNH LARAVEL</p>
                            <p class="giamonhoc">2.400.000VND</p>
                            <p>2 tháng</p>
                        </div>
                      </a>
                  </div>
                  <div class="col-md-3">
                      <a class="linkcustom" [routerLink]="[ '/ctdaotao/ios']">
                        <div class="col-md-11 item">
                            <img src="../assets/img/if_iOS_1082439.png" class="img-fluid img-rounded imgmargintop imgsize"/>
                            <p>LẬP TRÌNH IOS</p>
                            <p class="giamonhoc">2.400.000VND</p>
                            <p>2 tháng</p>
                        </div>
                      </a>
                  </div>
            </div>
</div>

  
